<div id="<%= dom_id menu %>">
  <p>
    <strong>Title:</strong>
    <%= menu.title %>
  </p>

  <p>
    <strong>Meals:</strong>
    <%= menu.meals %>
  </p>

  <p>
    <strong>Restaurant:</strong>
    <%= menu.restaurant_id %>
  </p>

</div>
